<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YuanqiTV</title>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/createjs/createjs.min.js"></script>
    <script src="/js/createjs/easeljs.min.js"></script>
    <script src="/js/createjs/tweenjs.min.js"></script>
    <script src="/js/msgpack.min.js"></script>
    <script src="/js/client.js"></script>
    <style>
        body {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        #stage {
            position: absolute;
            left: 0;
            top: 0;
        }

        .inputPanel {
            width: 100%;
            position: absolute;
            display: none;
            z-index: 99;
        }
    </style>
</head>
<body>
<script>
    var client;
    var isOp = ("<%= op %>" === 'op');
    var host = "<%= host %>";
    var port = "<%= port %>";
    $(function () {
        client = new Client("<%= pid %>", isOp, host, port);
        if (isOp) {
            $(".inputPanel").show()
        }
    });
</script>
<div>
    <% if (pid == "stage") { %>
    <%- include stagePanel %>
    <% } %>
    <% if (pid == "player") { %>
    <%- include playerPanel %>
    <% } %>
    <% if (pid == "act") { %>
    <%- include activityPanel %>
    <% } %>
    <canvas id="stage">
    </canvas>
</div>
</body>
</html>